<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">

            <mat-progress-bar mode="indeterminate" *ngIf="addEquptProgressBar"></mat-progress-bar>
            
            <!--Form Title-->

            <div class="row">
                <div class="col-sm-12">
                    <h3>{{ menuPrefNameModel.equipmentMenuName }} Details</h3>
                </div>
            </div>

            <form [formGroup] = "equptForm" (ngSubmit)="onSubmitClick()" >

            <div class="row">
                <div class="col-sm-12" >

                    <mat-card>
                        <mat-error *ngIf="errorMessageEnable">{{errorMessageTxt}}</mat-error>
                        <mat-card-header>
                            <mat-card-title >QR ID Details</mat-card-title>
                            

                            <mat-form-field style="width: 30%; margin-left: 15px;">
                                <input type="text" matInput placeholder="Enter QR ID" formControlName="qrCodeData" [matAutocomplete]="auto" />

                                <mat-autocomplete autoActiveFirstOption  #auto="matAutocomplete" [displayWith]="displayFn">
                                    <mat-option *ngFor="let option of filterOptions | async"  [value]="option">
                                        {{option.qrId}}
                                    </mat-option>  
                                    
                                </mat-autocomplete>
                            
                                <!--<mat-error *ngIf="(equptFormSubmitted || equptForm.controls['qrCodeData'].touched) && equptForm.controls['qrCodeData'].hasError('required')">
                                    Enter QR ID
                                </mat-error>-->

                                <mat-error *ngIf="(equptFormSubmitted || equptForm.controls['qrCodeData'].touched) && equptForm.controls['qrCodeData'].hasError('incorrect')">
                                    Select valid QR ID
                                </mat-error>


                            </mat-form-field>

                        </mat-card-header>

                        <mat-card-content style="font-size: 15px;" >

                        
                           <mat-grid-list cols="2" rowHeight="60px" >

                                <mat-grid-tile formArrayName="formFieldData" 
                                *ngFor="let formField of equptForm.get('formFieldData')['controls']; let i=index;">

                                        <mat-form-field  >
            
                                        
                                          <div [formGroupName] ="i">
                                             
                                                <input matInput formControlName="formFieldValue" placeholder="{{equptForm.get('formFieldData').value[i]['formFiledTitleName']}}" autocomplete="OFF" />
                                             
                                          </div>

                                          <mat-error *ngIf="equptForm.controls['formFieldData'].dirty && equptForm.controls['formFieldData'].invalid">
                                                Character limit is {{equptForm.get('formFieldData').value[i]['characterLimit']}}.
                                          </mat-error>
                                          
                                           
                                        </mat-form-field>

                                </mat-grid-tile>

                            </mat-grid-list> 

                        </mat-card-content>


                       

                        <mat-card>
                                <mat-card-header>
                                    <mat-card-title style="margin-left:-8px;">Contact Receiving Notifications</mat-card-title>
                                </mat-card-header>
                                   
                                <mat-card-content>

                                    <div formArrayName="specificToQrContact" *ngFor="let specificQrIdIndivContactObj of specificQrIdContactFormArray.controls; let i=index;">

                                            <div [formGroupName]="i">
                                                    <mat-grid-list cols="12" rowHeight="60px">
        
                                                            <mat-grid-tile colspan="2">
                                                                <mat-form-field>
                                                                   <input type="text" formControlName="contactPersonName" matInput autocomplete="OFF" placeholder="Contact Person Name" autocomplete="OFF" />
                                                                   <!--<mat-error *ngIf="(equptFormSubmitted || equptForm.controls['specificToQrContact'].at(i).controls['contactPersonName'].touched || equptForm.controls['specificToQrContact'].at(i).controls['contactPersonName'].dirty)
                                                                    && (equptForm.controls['specificToQrContact'].at(i).controls['contactPersonName'].invalid)
                                                                   ">
                                                                    Enter Contact Person Name 
                                                                   </mat-error>-->

                                                                   <mat-error *ngIf="equptForm.controls['specificToQrContact'].at(i).controls['contactPersonName'].hasError('required')">
                                                                       Enter contact person name
                                                                   </mat-error>
                                                                </mat-form-field>

                                                            </mat-grid-tile>
                           
                                                            <mat-grid-tile colspan="1">
                                                               <mat-select  formControlName="contactCountryCallingCode">
                                                                   <mat-option *ngFor="let indivCallingCode of countryCallingCodeResponseObj" [value]="indivCallingCode.countryCallingCode" >
                                                                       {{indivCallingCode.countryShortName}} - {{indivCallingCode.countryCallingCode}}
                                                                   </mat-option>
                                                               </mat-select>
                                                           </mat-grid-tile>
                           
                                                           <mat-grid-tile colspan="2">
                                                             <mat-form-field>
                                                                 <input type="text" formControlName="contactMobileNumber" matInput placeholder="Mobile Number" autocomplete="OFF" />
                                                                 <!--<mat-error *ngIf="(equptFormSubmitted || equptForm.controls['specificToQrContact'].at(i).controls['contactMobileNumber'].touched || equptForm.controls['specificToQrContact'].at(i).controls['contactMobileNumber'].dirty)
                                                                    && (equptForm.controls['specificToQrContact'].at(i).controls['contactMobileNumber'].invalid)
                                                                   ">
                                                                    Enter valid mobile number
                                                                </mat-error>-->

                                                                <!--<mat-error *ngIf="(equptForm.controls['specificToQrContact'].at(i).controls['contactPersonName'].value != '')
                                                                && (equptForm.controls['specificToQrContact'].at(i).controls['contactMobileNumber'].value == '' && equptForm.controls['specificToQrContact'].at(i).controls['contactEmailId'].value == '')">
                                                                    Please enter mobile number or email id
                                                                </mat-error> -->

                                                                <mat-error *ngIf="equptForm.controls['specificToQrContact'].at(i).controls['contactMobileNumber'].hasError('required')" >
                                                                   Please enter mobile number
                                                                </mat-error>

                                                             </mat-form-field>
                                                           </mat-grid-tile>
                           
                                                           <mat-grid-tile colspan="2">
                                                               <mat-form-field>
                                                                   <input type="text" formControlName="contactEmailId" matInput placeholder="Email ID" autocomplete="OFF" />
                                                                   <mat-error *ngIf="(equptFormSubmitted || equptForm.controls['specificToQrContact'].at(i).controls['contactEmailId'].touched || equptForm.controls['specificToQrContact'].at(i).controls['contactEmailId'].dirty)
                                                                    && (equptForm.controls['specificToQrContact'].at(i).controls['contactEmailId'].hasError('email'))
                                                                   ">
                                                                    Enter valid email Id
                                                                   </mat-error>

                                                                <mat-error *ngIf="equptForm.controls['specificToQrContact'].at(i).controls['contactEmailId'].hasError('required')" >
                                                                    Please enter email id
                                                                </mat-error>
                                                               </mat-form-field>
                                                           </mat-grid-tile>

                                                           <mat-grid-tile colspan="1" >
                                                                <mat-checkbox formControlName="smsRequired" [disabled]="equptForm.get('specificToQrContact').value[i]['contactMobileNumber'] == ''"></mat-checkbox>
                                                                <span style="margin-left: 5px;"></span>
                                                                SMS
                                                           </mat-grid-tile>

                                                           <mat-grid-tile colspan="1">
                                                                <mat-checkbox formControlName="emailRequired" [disabled]="equptForm.get('specificToQrContact').value[i]['contactEmailId'] == ''"></mat-checkbox>
                                                                <span style="margin-left: 5px;"></span> 
                                                                Email
                                                           </mat-grid-tile>

                                                           <mat-grid-tile colspan="2">
                                                            <mat-checkbox formControlName="contactToBeDisplayed" ></mat-checkbox>
                                                            <span style="margin-left: 5px;"></span> 
                                                            Make Public
                                                           </mat-grid-tile>
                           
                                                           <mat-grid-tile colspan="1">
                                                                <button type="button" class="btn btn-default" *ngIf="spcificQrIdContactCount == i+1" >
                                                                    <mat-icon svgIcon="addRecordIcon"  mat-mini-fab (click)="addSpecificQrIdContactToFormArray()"></mat-icon>
                                                                </button> 

                                                                <button type="button"  class="btn btn-default" *ngIf="i != 0">
                                                                    <mat-icon svgIcon="deleteRecordIcon" mat-mini-fab (click)="removeSpecificQrIdContactFromFormArray(i)"></mat-icon>
                                                                </button>
                                                                                      
                                                           </mat-grid-tile>

                                                          
                                                    
                           
                                                    </mat-grid-list>
                                            </div>

                                    </div>

                                </mat-card-content>
                        </mat-card>

                        <mat-card>

                           
                            <mat-card-content>

                                <div class="table-responsive">
                                    <table class="table" >
                                        <thead>
                                            <tr>
                                                <th>Sr. No.</th>
                                                <!--<th>
                                                    <mat-checkbox [checked]="selectAllContacts" (change)="contactSelectAll($event);"></mat-checkbox>
                                                    Select
                                                </th>-->
                                                
                                                <th>Contact Person Name</th>
                                                <th>Mobile Number</th>
                                                <th>Email ID</th>
                                                <th>
                                                    <mat-checkbox [checked]="smsSelectall" (change)="smsRequiredAll($event);"></mat-checkbox>
                                                    SMS
                                                </th>
                                                <th>
                                                        <mat-checkbox [checked]="emailSelectAll" (change)="emailRequiredAll($event);"></mat-checkbox>
                                                    Email
                                                </th>
                                                <th>
                                                    <mat-checkbox [checked]="makeAllPublic" (change)="contactMakeAllPublic($event);" ></mat-checkbox>
                                                    Make Public
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody formArrayName="qrContactData" 
                                        *ngFor="let indivContactObj of equptForm.get('qrContactData')['controls']; let i=index;">
                                           
                                            <tr [formGroupName] ='i'>

                                               <td>
                                                    {{i+1}}
                                               </td>
                                             
                                               <!--<td>
                                                   <mat-checkbox formControlName="contactSelected" [checked]="indivContactObj.get('contactSelected').value"></mat-checkbox>
                                               </td>-->
                                               

                                               <td>
                                                   {{indivContactObj.get('contactPersonName').value}}
                                               </td>

                                               <td>
                                                    {{indivContactObj.get('contactMobileNumber').value}}
                                               </td>

                                               <td>
                                                    {{indivContactObj.get('contactEmailId').value}}
                                               </td>
                                               
                                               <td>
                                                    <mat-checkbox formControlName="smsRequired" [checked]="indivContactObj.get('smsRequired').value" [disabled]="indivContactObj.get('contactMobileNumber').value == ''"></mat-checkbox>
                                               </td>

                                               <td>
                                                    <mat-checkbox formControlName="emailRequired" [checked]="indivContactObj.get('emailRequired').value" [disabled]="indivContactObj.get('contactEmailId').value == ''"></mat-checkbox>
                                               </td>

                                               <td>
                                                   <mat-checkbox formControlName="contactToBeDisplayed" [checked]="indivContactObj.get('contactToBeDisplayed').value"></mat-checkbox>
                                               </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            
                            </mat-card-content>
                        </mat-card>


                        <mat-card-actions align="right">
                            <button type="submit" mat-raised-button color="primary" >Submit</button>
                            <button type="button" mat-raised-button color="default" (click)="onResetClick()">Reset</button>
                        </mat-card-actions>

                    </mat-card>

                

                </div>
            </div>

            </form>

        </div>
    </div>
</div>
