<mat-sidenav-container class="mainContainer">

    
    <mat-sidenav mode="side" opened style="background-color: #343a40; width:250px;">


        <mat-toolbar style="background-color: #343a40;">
            <a [routerLink]="['dashboard']" style="text-decoration: none;">
                <mat-icon svgIcon="attendme-logo" style="font-size:30px; height:30px; width:30px;"></mat-icon>
                Attendme
            </a>
        </mat-toolbar>

        <mat-divider style="border-top-color: #ffffff1f;"></mat-divider>

        <mat-list>
            <mat-list-item>
                    <a class="nav-link" routerLink="dashboard" style="width: 100%;">
                      <mat-icon svgIcon="home-icon"></mat-icon>
                      Dashboard
                    </a>
            </mat-list-item>
        </mat-list>

        <mat-divider style="border-top-color: #ffffff1f;"></mat-divider>

        <ul class="nav flex-column">

            <mat-list>
                <mat-list-item *ngFor="let indivMenuItem of updatedLegalEntityMenuPrefObj | orderBy:'menuParamId'">
                    <a class="nav-link" [routerLink]="[indivMenuItem.ngModelPropName]" style="width: 100%;">{{ indivMenuItem.menuName }}</a>
                </mat-list-item>
            </mat-list>

            
        </ul>

        <mat-divider style="border-top-color: #ffffff1f;"></mat-divider>

        <mat-list>
            <mat-list-item *ngIf="headOffice">
                    <a class="nav-link"  routerLink="rpt/contacts" style="width: 100%;">
                      <mat-icon svgIcon="contact-icon"></mat-icon>
                      Contacts
                    </a>
            </mat-list-item>

            <mat-list-item *ngIf="headOffice">
                <a class="nav-link" routerLink="assign/qr-branch" style="width: 100%;">
                  <mat-icon svgIcon="input-icon"></mat-icon>
                  Allot QR IDs
                </a>
            </mat-list-item>

            <mat-list-item>
                <a class="nav-link"  routerLink="rpt/document" style="width: 100%;">
                    <mat-icon svgIcon="document-icon"></mat-icon>
                    Document
                </a>
            </mat-list-item>
        </mat-list>

    </mat-sidenav>

    <mat-sidenav-content>
        
        <mat-toolbar color="default">
            

            <mat-toolbar-row>

                <button>a</button>
                <span>{{branchName}}</span>
                <span class="example-spacer"></span>

              

            <div class="btn-group">

                <button type="button" class="btn btn-secondary dropdown-toggle"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 {{userFullName}}
                </button>

                <div class="dropdown-menu">
                    <button class="dropdown-item button-link" style="cursor:pointer;" (click)="legalEntityLogout()">
                     Logout
                    </button>
                </div>
            </div>
            </mat-toolbar-row>

            <mat-progress-bar mode="indeterminate" *ngIf="commonModel.enableProgressbar"></mat-progress-bar>

        </mat-toolbar>

        <div class="contentPanel">
           
           
        
          <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>

</mat-sidenav-container>