<h2 mat-dialog-title>Take Action</h2>

<form [formGroup]="actionTakenForm" (ngSubmit)="onSubmitClick()">

<mat-dialog-content class="mat-typography">


    <div class="row">
        <div class="col-sm-12">
          
            <div class="form-group">
              <select class="form-control" formControlName="complaintActionCnt" 
              (change)="onActionTakenChange()">
                <!--<option value="0">Select Action</option>-->
                <option *ngFor="let indivActionObj of actionTakenList" value="{{indivActionObj.actionTakenValue}}">
                   {{indivActionObj.actionTakenTxt}}
                </option>
              </select>

            </div>

            <div class="form-group" *ngIf="technicianVisisble">
              <select class="form-control" formControlName ="technicianIdCnt" 
              [ngClass]="{'is-invalid': actionSubmit && actionTakenForm.get('technicianIdCnt').value == 0 && actionTakenForm.get('complaintActionCnt').value == 'assigned'}">
                <option value="0">Select {{technicianMenuName}}</option>
                <option *ngFor="let indiTechObj of technicianListArr" value="{{indiTechObj.technicianId}}">
                  {{indiTechObj.technicianName}}
                </option>
              </select>

              <div *ngIf="actionSubmit && actionTakenForm.get('technicianIdCnt').value == 0 && actionTakenForm.get('complaintActionCnt').value == 'assigned'" 
              class="invalid-feedback">
                Please select {{technicianMenuName}}
              </div>
            </div>

            <div class="form-group">
              <input type="file" class="form-control" accept="image/*,application/pdf" multiple
              (change)="onFileChange($event)" formControlName = "compDocumentCnt" />
              <mat-card>
                <mat-card-content *ngFor="let indivFileObj of updatedFileObject; let i=index">

                  
                      <div class="alert alert-dark alert-dismissible fade show" role="alert">
                        {{indivFileObj['name']}}
                        <button type="button" class="close" (click)="removeFileFromList(i)"  aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div> 
                  
                </mat-card-content>
              </mat-card>

            </div>

            <div class="form-group" *ngIf="failureReasonVisisble">
              <textarea class="form-control" 
              formControlName="failureReasonCnt" placeholder="Failure Reason"
              [ngClass]="{'is-invalid': actionSubmit && actionTakenForm.get('failureReasonCnt').invalid}">
              </textarea>

              <div class="invalid-feedback"
              *ngIf="actionSubmit && actionTakenForm.get('failureReasonCnt').invalid">
                Please enter failure reason.
              </div>
            </div>

            <div class="form-group" *ngIf="actionTakenVisible">
              <textarea class="form-control"
              formControlName="actionTakeCnt" placeholder="Action Taken"
              [ngClass]="{'is-invalid': actionSubmit && actionTakenForm.get('actionTakeCnt').invalid}"
              >
              </textarea>

              <div class="invalid-feedback"
              *ngIf="actionSubmit && actionTakenForm.get('actionTakeCnt').invalid">
                Please enter action taken details.
              </div>
            </div>

            <div class="form-group">
              <textarea class="form-control"
              formControlName="comptRemarkCnt" placeholder="Remark">
              </textarea>
            </div>
           
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" mat-button mat-dialog-close>Cancel</button>
  <button type="submit" mat-flat-button color="primary"  >Submit</button>
</mat-dialog-actions>

</form>