<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
      
          
          <div class="row">
            <div class="col-sm-12">
      
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
      
                  <mat-card>

                    <mat-card-header>
                      <mat-card-title>Upload</mat-card-title>
                    </mat-card-header>

                    <div class="card-body">

                      <input type="file"  class="form-control" tooltip="Select File" />
      
                      <mat-form-field style="margin-top: 15px;">
                        <textarea matInput placeholder="Document Description"></textarea>
                      </mat-form-field>
                      
                    </div>

                  </mat-card>
      
                </div>
                <div class="col-sm-3"></div>
              </div>
      
            </div>
          </div>
      
        </div>
      </div>

</div>
