<div class="container-fluid">
  
  <div class="row">
    <div class="col-sm-12">

      <div class="row">
        
        <div class="col-sm-12">
          

            <button type="button" class="btn btn-default" >
                <mat-icon svgIcon="back-icon" (click)="backToDocumentRpt()"></mat-icon>
            </button>

            <label style="font-size: 25px;">Import Document</label>
          

        </div>
      </div>


      <div class="row">
        <div class="col-sm-6">
          <mat-progress-bar mode="indeterminate" *ngIf="enableDownloadProgressBar"></mat-progress-bar>
          <mat-card>
            
            <mat-card-header>
              <mat-card-title>
                Download {{equptMenuName}} List
              </mat-card-title>
            </mat-card-header>

            <mat-card-content>
              <p>Download {{equptMenuName}} list document file (.xls file) which 
                consists of all QR ID assigned {{equptMenuName}} list with all added document in each coloumn.
                Select (Yes/No). Save the file and import the file. The selected documents will be attached to selected {{equptMenuName}}. 
              </p>
            </mat-card-content>
            
            <mat-card-actions align="right">
              <button type="button" mat-raised-button color="primary" 
              (click)="downloadEquptDocTemplate()" [disabled]="downloadButtonEnableDisable">
              Download
            </button>
            </mat-card-actions>
          </mat-card>

        </div>
        <div class="col-sm-6">
            <mat-progress-bar mode="indeterminate" *ngIf="enableImportProgressBar"></mat-progress-bar>
          <form [formGroup]="importDocumentExcelFormGroup" (ngSubmit)="onUploadClick()">
              <mat-card>
                  <mat-card-header>
                    <mat-card-title>Import Document</mat-card-title>
                  </mat-card-header>
      
                  <mat-card-content>
                    <input type="file" formControlName="excelData" class="form-control" 
                    accept="application/vnd.ms-excel"  (change)="onFileChange($event)"
                    [ngClass]="{'is-invalid': (formSubmit || importDocumentExcelFormGroup.controls['excelData'].dirty) && importDocumentExcelFormGroup.controls['excelData'].hasError('required')}"
                    />

                    <small>
                      <i>*Supported file format excel (.xls)</i>
                    </small>

                    <br/>

                    <mat-error 
                    *ngIf="(formSubmit || importDocumentExcelFormGroup.controls['excelData'].dirty) && importDocumentExcelFormGroup.controls['excelData'].hasError('required')">
                     Plese select excel file to upload
                    </mat-error>

                  </mat-card-content>

                  <mat-card-actions  align="right">
                    <button type="submit" mat-raised-button color="primary" 
                       [disabled]="importButtonEnableDisable">
                      Import
                    </button>
                  </mat-card-actions>
                </mat-card>
          </form>
          
        </div>
      </div>

    </div>
  </div>

</div>