table {
    width: 100%;
    text-align: left;
  }
  

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  th.mat-sort-header-sorted {
    color: black;
  }
  
  /*.mat-row > td{
    color: #bbb8b8;
  }

  .mat-row > td > button.btn-link {
    color: #bbb8b8;
  }*/

  .row-cell-inactive{
    color: #bbb8b8;
  }