.menu-toolbar-spacer{
    flex: 1 1 auto;
}


  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }


  th.mat-sort-header-sorted {
    color: black;
  }

  .row-cell-inactive{
    color: #bbb8b8;
  }

  